* {
    box-sizing: border-box;
}

.navZeUl {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

.navZeLi a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.navZeLi:hover {
    background-color: #111111;
}

#lireiter {
    display: none;
}

.toggleable {
    display: inline-flex;
}

.unteraufgaben {
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 2vh;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

a.button:link, a.button:visited {
    background-color: #333333;
    color: white;
    padding: 1em 1em;
    text-align: center;
    text-decoration: none;
    border-radius: 7px;
    margin-left: 2vw;
}

a.button:hover, a.button:active {
    background-color: #111111;
}

@media screen and (max-width: 1100px) {
    .navZeUl {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333333;
    }

    .navZeLi {
        text-align: center;
    }

    .navZeLi a {
        display: inline-flex;
        color: white;
        text-align: center;
        padding: 16px;
        text-decoration: none;
    }

    .navZeLi:hover {
        background-color: #111111;
    }

    .toggleable {
        display: none;
    }

    #lireiter {
        display: inline-flex;
    }
}

#back {
    position: fixed;
    bottom: 16px;
    z-index: 10;
}

.header {
    background-color: orangered;
    color: white;
    padding: 5vmin;
    text-align: center;
}

.row {
    display: flex;
    flex-wrap: wrap;

}

.innerflex {
    display: flex;
    flex-wrap: wrap;
    flex: 70%
}

.lside {
    background-color: lawngreen;
    color: white;
    padding: 2vmin;
    flex: 10%
}

.main {
    background-color: blue;
    color: white;
    padding: 5vmin;
    flex: 60%
}

.rside {
    background-color: hotpink;
    color: white;
    padding: 2vmin;
    flex: 10%
}

@media screen and (max-width: 1000px) {
    .row {
        flex-direction: column;
    }
}

@media screen and (max-width: 600px) {
    .innerflex {
        flex-direction: column;
    }
}