.navZeUl {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

.navZeLi a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.navZeLi:hover {
    background-color: #111111;
}

#lireiter {
    display: none;
}

.toggleable {
    display: inline-flex;
}

.unteraufgaben {
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 2vh;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

a.button:link, a.button:visited {
    background-color: #333333;
    color: white;
    padding: 1em 1em;
    text-align: center;
    text-decoration: none;
    border-radius: 7px;
    margin-left: 2vw;
}

a.button:hover, a.button:active {
    background-color: #111111;
}

@media screen and (max-width: 1100px) {
    .navZeUl {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333333;
    }

    .navZeLi {
        text-align: center;
    }

    .navZeLi a {
        display: inline-flex;
        color: white;
        text-align: center;
        padding: 16px;
        text-decoration: none;
    }

    .navZeLi:hover {
        background-color: #111111;
    }

    .toggleable {
        display: none;
    }

    #lireiter {
        display: inline-flex;
    }
}


#headPic {
    color:#1c1d1e; padding: 6vh 2vw;
    background: #FFFFFF
    url(https://res.cloudinary.com/practicaldev/image/fetch/s--mNNM3QVm--/c_imagga_scale,f_auto,fl_progressive,h_420,q_auto,w_1000/https://dev-to-uploads.s3.amazonaws.com/uploads/articles/j6xltv413gil5ioazm49.jpg)
    left repeat scroll;
}

@media screen and (max-width: 1000px) {
    #headPic {
        color:#1c1d1e; padding: 6vh 2vw;
        background: #FFFFFF
        url(https://res.cloudinary.com/practicaldev/image/fetch/s--mNNM3QVm--/c_imagga_scale,f_auto,fl_progressive,h_420,q_auto,w_1000/https://dev-to-uploads.s3.amazonaws.com/uploads/articles/j6xltv413gil5ioazm49.jpg)
        center repeat scroll;
    }
}

#head-title {
    background-color: gainsboro;
    padding: 5px;
    border-radius: 15px;
}

code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}

input {
    background-color: ghostwhite;
}

.red {
    background-color: red;
}

.ghostwhite {
    background-color: ghostwhite;
}

#optional {
    display: none;
}

.checkbox:checked + #optional {
    display: block;
}

p {
    font-weight: bold;
}

#notFulfilled {
    color: lightgrey;
}

#warning {
    color: coral;
}
