.navZeUl {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

.navZeLi a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.navZeLi:hover {
    background-color: #111111;
}

#lireiter {
    display: none;
}

.toggleable {
    display: inline-flex;
}

.unteraufgaben {
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 2vh;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

a.button:link, a.button:visited {
    background-color: #333333;
    color: white;
    padding: 1em 1em;
    text-align: center;
    text-decoration: none;
    border-radius: 7px;
    margin-left: 2vw;
}

a.button:hover, a.button:active {
    background-color: #111111;
}

@media screen and (max-width: 1000px) {
    .navZeUl {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333333;
    }

    .navZeLi {
        text-align: center;
    }

    .navZeLi a {
        display: inline-flex;
        color: white;
        text-align: center;
        padding: 16px;
        text-decoration: none;
    }

    .navZeLi:hover {
        background-color: #111111;
    }

    .toggleable {
        display: none;
    }

    #lireiter {
        display: inline-flex;
    }
}